<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      button {
        background-color: white;
        border: none;
      }
    </style>
</head>
<body class="bg-gray-100 text-gray-800 min-h-screen p-8">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
     <div class="flex justify-between items-center mb-4">
      <h1 class="text-2xl font-bold text-blue-500">List of users</h1>
       <a href="/user/add" class="bg-blue-500 text-white px-5 py-2  roundend hover:bg-blue-600 transition shadow-xl">Add New</a>
     </div>
 
  
<div class="overflow-x-auto">
    <table border="1" class="min-w-full border-2 border-glay-300 text-left">
      <thead class="bg-gray-200 text-blue-500">
        <tr>
            <th class="px-5 py-2 border">Id</th>
            <th class="px-5 py-2 border">Name</th>
            <th class="px-5 py-2 border">Password</th>
            <th colspan="2" class="px-5 py-2 border">Operation</th>
        </tr>
       </thead>
       <tbody>
        <% user.forEach(user => { %>
          <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
            <td class="px-4 py-2 border"><%= user.id %></td>
            <td class="px-4 py-2 border"><%= user.name %></td>
            <td class="px-4 py-2 border"><%= user.password %></td>
            <td class="px-4 py-2 border">
              <a href="/user/edit/<%= user.id %>" class="text-blue-500 hover:underline">Edit</a>
            </td>
           <td class="px-4 py-2 border">
            <form action="/user/delete/<%= user.id %>" method="post">
              <button type="submit" class="text-red-500 hover:underline" onclick="return confirm(`are you sure to delete <%= user.name %>`)">Delete</button>
          </form>
        </td>
      </tr>
   </tbody>
        <% }) %>
    </table>
   </div>
  </div>
</body>
</html>